.alert {
  background-color: yellowgreen;
  width: 100vw;
  height: 8vh;
  position: fixed;
  top: 0;
  z-index: 10001;
  border-radius: 0;
}

.cart_notification{
  min-height: 8vh;
  width: 300px;
  padding: 10px;
  background-color: red;
  position: fixed;
  top: 8vh;
  right: 20px;
  z-index: 1000000000;
}
