.button{
  padding: 10px;
  border-radius: $border-radius;
  transition: all 0.25s ease;
}

.wide-button{
  width: 100%;
}

.primary-button{
  color: $white;
  background-color: $primary;
  border: 2px solid $primary;
}

.primary-button:hover{
  background-color: $primary-hover;
  border: 2px solid $primary-hover;
}
