.product-card-wrapper, .product-card-wrapper > a{
  color: black;
  p{margin:0; transition: all 0.25s ease}
}

.product-card-wrapper:hover{
  a{text-decoration: none;}
  color: $primary !important;
  .product-name{
    color: $primary;
  }
}

.product-image-wrapper{
  min-height: 150px;
  border-radius: $border-radius;
  width: 100%;
  background-color: $primary;
}

.product-image-wrapper.small{
  min-height: 100px;
}

.product-flat{
  padding: 20px;
  background-color: white;
}

.stars, .certificates{
  i{line-height: inherit !important;}
}

.small-image{
  border-radius: $border-radius;
}
