.navbar{
  background-color: white;
  height: 8vh;
  padding: 0px 4vw ;
  border-bottom: 1px solid gray;
}

.navbar-left{
  justify-content: flex-start;
  width: 50%;
}

.navbar-right{
  justify-content: flex-end;
  width: 50%;
}

.navbar-link, .navbar-link:hover{
  color: black;
  padding: 0px 2vw ;
  text-decoration: none;
  transition: all 0.25s ease;
}

.navbar-link:hover{
  color: $primary;
}
