.navbar{
  position: fixed;
  top: 0;
  z-index: 10000;
  background-color: white;
  height: 8vh;
  width: 100vw;
  padding: 0px 4vw ;
  // border-bottom: 1px solid gray;
}

.navbar-left{
  justify-content: flex-start;
  width: 50%;
}

.navbar-right{
  justify-content: flex-end;
  width: 50%;
}

.navbar-link, .navbar-link:hover{
  color: black;
  padding: 0px 2vw ;
  text-decoration: none;
  transition: all 0.25s ease;
}

.navbar-link:hover{
  color: $primary;
}

.cart-counter{
  position: absolute;
  width: 15px;
  height: 15px;
  font-size: 70%;
  background-color: red;
  border-radius: 50%;
  color: white;
  p{margin: 0;}
  text-align: center;
  justify-content: center;
  align-items: center;
}
